<%- include('partials/header'); -%>



<div class="modal" id="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prečo chcete tento inzerát nahlásiť?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/report?id=<%= adId %>" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" name="reportTitle" class="form-control" id="exampleFormControlInput1" placeholder="Predmet" required>
                    </div>
                    <label id="charsLeft">Ešte máte 120 znakov</label>
                    <div class="mb-3">
                        <textarea name="reportDescription" class="form-control" id="reportDescription" rows="5" style="resize: none" placeholder="Správa" maxlength="100" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Odoslať</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="container ad-container">
    <div class="container row">
        <div class="col-md-7">
            <img src="http://via.placeholder.com/640x360" alt="image-of-car">
        </div>

        <div class="col-md-5 text-start">
            <div class="container row row-container">
                <h1 class="h1-font"> <%= foundCar.brand + " " + foundCar.model %> </h1>
            </div>
            <div class="container row text-center row-container">
                <div class="row mb-1 specific-ad-icons">
                    <div class="col-md-2 col-sm-12 text-center icon-font">
                        <p class="mb-0 ">
                            <i class="fas fa-road"></i>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-12  text-center icon-font">
                        <p class="mb-0 ">
                            <i class="far fa-calendar-alt"></i>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-12  text-center icon-font">
                        <p class="mb-1">
                            <i class="fas fa-tachometer-alt"></i>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-12  text-center icon-font">
                        <p class="mb-0 ">
                            <i class="fas fa-cogs"></i>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-12  text-center icon-font">
                        <p class="mb-0 ">
                            <i class="fas fa-gas-pump"></i>
                        </p>
                    </div>
                </div>



                <div class="row mb-1 icon-description">
                    <div class="col-md-2 col-sm-12 text-center">
                        <p class="mb-0 icon-description-font">
                            <%= foundCar.kilometer %>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-12  text-center">
                        <p class="mb-0 icon-description-font">
                            <%= foundCar.firstRegistration %>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-12  text-center">
                        <p class="mb-0 icon-description-font">
                            <%= foundCar.powerPS %>HP
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-12  text-center">
                        <p class="mb-0 icon-description-font">
                            <%= foundCar.gearbox %>
                        </p>
                    </div>
                    <div class="col-md-2  col-sm-12 text-center">
                        <p class="mb-0 icon-description-font">
                            <%= foundCar.fuelType %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container row row-container">
                <h2 class="h2-font"> Popis: </h2>
            </div>
            <div class="container row row-container">
                <p class="text-font"></p>
            </div>
        </div>
    </div>

    <% if(user.role) {%>
        <div class="container row">
            <div class="col-md-12  text-start report-btn">
                <p class="mb-0">
                    <a href="/delete?id=<%= adId %>">
                        <i class="fas fa-exclamation-triangle"></i> Zmazať inzerát
                    </a>
                </p>
            </div>
        </div>
    <% } else if(user !== "false") { %>
        <div class="container row">
            <div class="col-md-12  text-start report-btn">
                <p class="mb-0">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal">
                        <i class="fas fa-exclamation-triangle"></i> Nahlásiť inzerát
                    </a>
                </p>
            </div>
        </div>
    <% } %>


</div>


<%- include('partials/footer'); -%>